@font-face {
  font-family: Charmonman-Regular;
  src: url(font/Charmonman/Charmonman-Regular.ttf);
}

@font-face {
  font-family: Charmonman-Bold;
  src: url(font/Charmonman/Charmonman-Bold.ttf);
}

body,html  {
  margin: 0;
  font-family: Charmonman-Bold;
  width: 100%;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}

.pain01{
  margin-top: 30px;
  height: 100%;
  text-align: center;
}

.imgLogo {
  text-align: center;
}

.playAudio {
  animation-duration: 4s;
  text-align: center;
}

.info {
  text-align: center;
  width: 100%;
  margin-bottom: 20px;
}
.info > #a {
  font-size: 35px;
  margin: 0;
  padding: 0;
  font-family: Charmonman-Bold;
}

.info > #b {
  font-size: 25px;
  margin: 0;
  padding: 0;
  font-family: Charmonman-Regular;
}

.info2 {
  text-align: center;
  width: 100%;
  margin-top: 20px;
}
.info2 > #a {
  font-size: 35px;
  margin: 0;
  padding: 0;
  font-family: Charmonman-Bold;
}

.info2 > #b {
  font-size: 25px;
  margin: 0;
  padding: 0;
  font-family: Charmonman-Regular;
}

header {
  width: 100%;
  font-family: Charmonman-Bold;
  font-size: 25px;
  text-align: center;
  color: rgb(0, 93, 199);
  background-color: rgb(255, 255, 255);
  padding-top: 10px;
  padding-bottom: 10px;
  box-shadow: 0px 2px 8px #d8d8d8;
}

a {
  text-decoration: none;
  display: inline-block;
  padding: 8px 16px;
}

.next {
  border: 1px solid #002fff;
  color: rgb(38, 0, 255);
  margin-top: 20px;
  margin-bottom: 30px;
  border-radius: 10px;
}

.chassrset{
  text-align: center;
}

.back{
  text-align: center;
  width: 100%;
}

.ba{
  text-align: center; 
  font-size: 25px;
  color: #fff;
}

.login{
  padding-top: 50px;
  padding-bottom: 50px;
  text-align: center;
  border-radius: 5px;
  background-color: #f2f2f2;
  width:700px
}

#number{
  text-align: center;
  width: 600px;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
.ccs{
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%) 
}